.why-us-grid{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-items: center;
    height: calc(100% - 27px);
    position: fixed;
    width:95%;
    /* background: url("https://raw.githubusercontent.com/moshe-l/presentation-images/master/bg/shas.jpg") no-repeat center center fixed */
    /* background-size: cover; */
}
.viewAll .why-us-grid{
    position:static;
}
.inner-wrap-caruale{
    overflow-x: hidden;
}

section{
    text-align: center;
}

i{display: none}

.edit i{
    display: inherit;
}

img{
    width: 100%;
}
@media(min-width:800px){
    img{
        width: 80%;
    }
}

.slide {   
    opacity: 0;
    overflow-x: hidden;
}
.slide.active-right{
  animation: slide-right 0.6s forwards;
}

@keyframes slide-right {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}