<section [class.edit]="isEditMode">
  <div class="why-us-grid">
    <div>
      <i (click)="arrowRight()" class="fas fa-chevron-right"></i>
    </div>
    <div class="wrap-carusale">     
      <div *ngFor="let w of carusaleArr; index as i" class="inner-wrap-caruale">
          <!-- <div (click)="changeByIndex(i)" class="slide active-right" *ngIf="(currentView.index == i && !w.isImg) || toViewAll">
              {{w.text}}
          </div> -->
          <div  class="slide active-right" *ngIf="(currentView.index == i) || toViewAll">
             <img (click)="changeByIndex(i)" [src]="w.text" alt="">
          </div>
      </div>
    </div>
    <div>
      <i (click)="arrowLeft()" class="fas fa-chevron-left"></i>
    </div>
  </div>
</section>

<!-- <section *ngIf="toViewAll">
  <div *ngFor="let w of carusaleArr; index as i">

  </div>
</section> -->