/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';

body{
    direction: rtl;
    background-size: cover !important;
}

* {
    box-sizing: border-box;
}


table{
    direction: rtl;
    text-align: center;
}
h1{
    text-align: center;
}
.student-name{
    font-size: 10px;
    color: black;
}
.namep{
    font-size: 13px;
}
table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: #ddd;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
   
    background-color: #4CAF50;
    color: white;
  }

  .bookName{
    color: darkgoldenrod;
  }